@page "/admin"
@inject IJSRuntime JSRuntime
@inject ProjectFabricAuthenticationStateProvider ProjectFabricAuthenticationStateProvider

@* <div id="blazor-school-button"></div>
@code {
    protected override async Task OnInitializedAsync()
    {
        var projectFabricAuthenticationStateProvider = DotNetObjectReference.Create<ProjectFabricAuthenticationStateProvider>(ProjectFabricAuthenticationStateProvider);
        await JSRuntime.InvokeVoidAsync("projectFabricGoogleInitialize", "593029476420-9vn0seo0b231vtn1686guhh0nqmfk7ut.apps.googleusercontent.com", projectFabricAuthenticationStateProvider);
        var element = await JSRuntime.InvokeAsync<IJSObjectReference>("document.getElementById", "blazor-school-button");
        await JSRuntime.InvokeVoidAsync("google.accounts.id.renderButton", element, new { theme = "filled_blue", size = "large" });
    }

} *@


<button type="button" @onclick="SignInWithGoogleAsync">Sign In with Google</button>

@code {
    public async Task SignInWithGoogleAsync()
    {
        var projectFabricAuthenticationStateProvider = DotNetObjectReference.Create<ProjectFabricAuthenticationStateProvider>(ProjectFabricAuthenticationStateProvider);
        await JSRuntime.InvokeVoidAsync("projectFabricGoogleInitialize", "593029476420-9vn0seo0b231vtn1686guhh0nqmfk7ut.apps.googleusercontent.com", projectFabricAuthenticationStateProvider);
    //The following code might not work in some cases
    //await JSRuntime.InvokeVoidAsync("google.accounts.id.prompt");
        
    //The following code will execute the prompt function and print the reason of not working to the console if fails.
        await JSRuntime.InvokeVoidAsync("projectFabricGooglePrompt");
    }
}