<div class="bg-slate-50 text-black-500 rounded shadow-xl py-5 px-5 w-full sm:w-2/3 md:w-1/2 lg:w-1/3" x-data="{cardOpen:false,cardData:cardData()}" x-init="$watch('cardOpen', value => value?(cardData.countUp($refs.total,0,42842,null,2),cardData.sessions.forEach((el,i) => cardData.countUp($refs[`device${i}`],0,cardData.sessions[i].c,null,1.6))):null);setTimeout(()=>{cardOpen=true},100)">
    <div class="flex w-full">
        <h3 class="text-lg font-semibold leading-tight flex-1">TOTAL INCOME</h3>
        <div class="relative h-5 leading-none">
            <button class="text-xl text-gray-900 hover:text-gray-500 h-6 focus:outline-none">
                <i class="mdi mdi-chevron-up" :class="'mdi-chevron-'+(cardOpen?'up':'down')"></i>
            </button>
        </div>
    </div>
    <div class="relative overflow-hidden transition-all duration-500" x-ref="card" x-bind:style="`max-height:${cardOpen?$refs.card.scrollHeight:0}px; opacity:${cardOpen?1:0}`" style="max-height:147px; opacity:1">
        <div>
            <div class="pb-4 lg:pb-6">
                <h4 class="text-2xl lg:text-3xl text-black font-semibold leading-tight inline-block" x-ref="total">$42,842</h4>
            </div>
            <div class="pb-4 lg:pb-6">
                <div class="overflow-hidden rounded-full h-3 bg-slate-50 flex transition-all duration-500 w-full" :class="cardOpen?'w-full':'w-0'">
                    <template x-for="(item,index) in cardData.sessions">
                        <div class="h-full" :class="`bg-${item.color}`" :style="`width:${item.size}%`"></div>
                    </template>

                    <div class="h-full bg-green-500" :class="`bg-${item.color}`" :style="`width:${item.size}%`" style="width:60%"></div>

                    <div class="h-full bg-green-400" :class="`bg-${item.color}`" :style="`width:${item.size}%`" style="width:30%"></div>

                    <div class="h-full bg-green-300" :class="`bg-${item.color}`" :style="`width:${item.size}%`" style="width:8%"></div>

                    <div class="h-full bg-green-200" :class="`bg-${item.color}`" :style="`width:${item.size}%`" style="width:2%"></div>
                </div>
            </div>
            <div class="flex -mx-4">
                <template x-for="(item,index) in cardData.sessions">
                    <div class="w-1/3 px-4" :class="{'border-l border-gray-700':index!==0}">
                        <div class="text-sm">
                            <span class="inline-block w-2 h-2 rounded-full mr-1 align-middle" :class="`bg-${item.color}`">&nbsp;</span>
                            <span class="align-middle text-gray-500" x-text="item.label">&nbsp;</span>
                        </div>
                        <div class="font-medium text-lg text-black">
                            <span :x-ref="`device${index}`">0</span>
                        </div>
                    </div>
                </template>

                <div class="w-1/3 px-4" :class="{'border-l border-gray-700':index!==0}">
                    <div class="text-sm">
                        <span class="inline-block w-2 h-2 rounded-full mr-1 align-middle bg-green-500" :class="`bg-${item.color}`">&nbsp;</span>
                        <span class="align-middle text-gray-500" x-text="item.label">Phone</span>
                    </div>
                    <div class="font-medium text-lg text-black">
                        <span :x-ref="`device${index}`" x-ref="device0">$25,705</span>
                    </div>
                </div>

                <div class="w-1/3 px-4 border-l border-gray-700" :class="{'border-l border-gray-700':index!==0}">
                    <div class="text-sm">
                        <span class="inline-block w-2 h-2 rounded-full mr-1 align-middle bg-green-400" :class="`bg-${item.color}`">&nbsp;</span>
                        <span class="align-middle text-gray-500" x-text="item.label">Tablet</span>
                    </div>
                    <div class="font-medium text-lg text-black">
                        <span :x-ref="`device${index}`" x-ref="device1">$12,853</span>
                    </div>
                </div>

                <div class="w-1/3 px-4 border-l border-gray-700" :class="{'border-l border-gray-700':index!==0}">
                    <div class="text-sm">
                        <span class="inline-block w-2 h-2 rounded-full mr-1 align-middle bg-green-300" :class="`bg-${item.color}`">&nbsp;</span>
                        <span class="align-middle text-gray-500" x-text="item.label">Desktop</span>
                    </div>
                    <div class="font-medium text-lg text-black">
                        <span :x-ref="`device${index}`" x-ref="device2">$3,427</span>
                    </div>
                </div>

                <div class="w-1/3 px-4 border-l border-gray-700" :class="{'border-l border-gray-700':index!==0}">
                    <div class="text-sm">
                        <span class="inline-block w-2 h-2 rounded-full mr-1 align-middle bg-green-200" :class="`bg-${item.color}`">&nbsp;</span>
                        <span class="align-middle text-gray-500" x-text="item.label">Other</span>
                    </div>
                    <div class="font-medium text-lg text-black">
                        <span :x-ref="`device${index}`" x-ref="device3">$857</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>