@inherits LayoutComponentBase
@inject IApplicationThemeService ApplicationThemeService

<div class="@Theme.Dark @Theme.Styles["bg"]">
    <NavMenu></NavMenu>
    @Body
    <Footer></Footer>
</div>

@code
{
    public Theme Theme;

    protected override void OnInitialized()
    {
        Theme = ApplicationThemeService.Theme;
        base.OnInitialized();
    }
}